{% extends 'base.html' %}
{% block body %}

<section id="about">
<div class="container">
    <div class="row">
<div class="col-sm-7">

    <div class="container height=10;">
        
    </div>
  <h2>Prof.Ahsan Raza Sattar</h2>  
</div>
<p1>
    <h4>
        Department:  Faculty of Sciences, Department of Computer Science
    </h4>

<h5>
    Position:  Assistant Professor
</h5>

<h5>
    HEC Approved Supervisor:  NO

</h5>
<h5>
    Research Intersts:  Machine learning, data Mining, Artificial intelligence
</h5>


Publications:  

Journal Articles:
Zubair N. and A. R. Sattar, 2010, Analysis of network models for optimization, Eur. J. Sci. Res., 39, 207-216
Haq, N. and A. R. Sattar, 2010, Forensic Data Security for intrusions, European Journal of Scientific Research, 30,
Jilani, M. T. and A. R. Sattar, 2010, Analysis of Mesh Election Procedure of IEEE 802.16/Wi-Max, European Journal of Scientific Research, 39,
</p1>
    </div>
    <div class="col-sm-5">
<div class="img-wrap">
    <img src="http://www.uaf.edu.pk/employees/employeeImages/289.jpg"/>
</div>

    </div>

    </div>
</div>
</section>

    
{% endblock body %}